header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-container {
        height: 3.5em;
        cursor: pointer;        
        img {
            @include imageFit;
        }
    }
}
