header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .logo-container {
        width: 11em;
        height: 3.5em;
        cursor: pointer;   
        img {
            @include imageFit;
        }
        @include mobile-version {
            height: 3em;
            width: 9em;
        }
    }
}
