.logement-page {
    width: 100%;
}

.pictures-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 25em;
    border-radius: 1em;
    overflow: hidden;
    margin: 1em 0;
}

.top-section {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.pictures-container {
    @include flexCenter;
    width: 100%;
    height: 100%;
}

.picture-appart {
    @include flexCenter;
    width: 100%;
    min-width: 100%;
    height: 100%;
    img {
        @include imageFit (cover);
    }
}

.index-shown {
    z-index: 5;
    align-self: flex-end;
    margin-bottom: 1em;
    p {
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        @include textShadow;
    }
}

.left-anim {
    animation: anim-left 1200ms;
}

.right-anim {
    animation: anim-right 1200ms;
}

.appart-infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .title-container {
        display: flex;
        flex-direction: column;
    }
    p {
        font-size: .9em;
    }
    h1 {
        font-size: 1.4em;
    }
    .tag-btn p {
        font-size: .8em;
    }
    .location {
        margin-top: .5em;
    }
}

.tags-container {
    display: flex;
    align-items: center;
    margin: 1.5em 0;
}

.host-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.person {
    display: flex;
    align-items: center;
    .photo-container {
        border-radius: 50%;
        width: 4em;
        height: 4em;
        overflow: hidden;
        margin-left: 1vw;
        img {
            @include imageFit;
        }
    }
}

