.error-page {
    @include flexColumn;
    justify-content: center;
    flex: 1;
    h1 {
        margin: 1.8em 0 3em;
    }
    p {
        font-size: 1.1em;
        text-decoration: underline;
        cursor: pointer;
    }
}

.error-container {
    width: 45%;
    img {
        @include imageFit;
    }
}

.error-button {
    margin-top: 1rem;
    border: none;
    background-color: inherit;
}