.arrow {
    cursor: pointer;
    z-index: 5;
    background-color: transparent;
    border: none;
    &::before {
        color: white;
        @include icon('\f054',3.5em);
        filter: drop-shadow(0px 0px 2px black);
    }
    &.left {
        transform: rotate(180deg);
    }
    margin: 0 1.5vw;
}

.tag-btn {
    min-width: 14vw;
    height: 1.8em;
    @include flexCenter;
    background-color: $primary-color;
    margin-right: 1vw;
    margin-bottom: .5em;
    border-radius: 1em;
    p {
        color: white;
    }
}