*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $primary-color;
  font-family: 'montserrat';
}


body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-size: cover;
  /* @media (orientation: portrait) {
  } */
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  padding: 0;
  transition: .8s;
  height: 100%;
  min-height: 100%;
  font-size: 1.5vw;
  @include adapt-size;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2em 5vw;
  flex: 1;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.previous-page {
  cursor: pointer;
  z-index: 50;
  position: fixed;
  bottom: 1em;
  left: 1em;
  border: none;
  background-color: transparent;
  box-shadow: none;
  &::before {
      @include icon('\f137',2em);
  }
}

.alert-window {
  position: fixed;
  left: 0;
  top: 0;
  @include flexColumn;
  justify-content: center;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.alert-message-container {
  border: solid white;
  border-radius: 2em;
  width: 80%;
  height: 60%;
  @include flexColumn;
  justify-content: center;
  padding: 2em;
  p {
    font-size: 3em;
  }
  .valid {
    &::before {
      @include icon('\f00c',5em);
      color: rgb(25, 173, 25);
    }
  }
  .error {
    &::before {
      @include icon('\f00d',5em);
      color: rgb(192, 14, 14);
    }
  }
  .modify {
    &::before {
      @include icon('\f044',5em);
      color: rgb(244, 135, 19);
    }
  }
}