@keyframes anim-left {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes anim-right {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}