$breakpoint-mobile: 400px;
$breakpoint-ipad: 768px;

$primary-color: #FF6060;
$secondary-color: #666666;
$third-color: #610cab;
$fourth-color: #12a6c7;
$fifth-color: #031f65;
$sixth-color: #eb678f;
$seventh-color: #6e346a;
$eight-color: rgb(0, 130, 91);