$breakpoint-mobile: 400px;
$breakpoint-ipad: 768px;

$primary-color: #FF6060;
$dark-grey: #666666;
$light-background: #F6F6F6;
$fourth-color: #12a6c7;
$fifth-color: #031f65;
$sixth-color: #eb678f;
$seventh-color: #6e346a;
$eight-color: rgb(0, 130, 91);